svg {
  font: 9px sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

line {
  stroke: black;
}

/*path {
    fill: none;
    stroke: green;
}*/
div.invis {   //hides div class
  display:none;
}
#section3{
	text-align: center;
}

#section3 .line {
	stroke: rgb(247, 150, 29);
	stroke-width: 2;
	fill: none;
}

#section3 .line:hover {
	stroke: rgb(0, 150, 29);
	stroke-width: 10;
	fill: none;
}

#section3 .axis {
  shape-rendering: crispEdges;
}

#section3 .x.axis line {
  stroke: rgba(88, 89, 93, .12);
}

#section3 .x.axis .minor {
  stroke-opacity: .5;
}

#section3 .x.axis path {
  display: none;
}

#section3 .y.axis line, .y.axis path {
  fill: none;
  stroke: rgba(88, 89, 93, .5);
}

#section3 .axis path,
#section3 .axis line {
  fill: none;
  stroke: rgba(88, 89, 93, .3);
  shape-rendering: crispEdges;
}

#section3 .axis text {
  font: 8px sans-serif;
  fill: rgba(88, 89, 93, .5);
}

.area {
  stroke: green;
}

#selection {
  position: absolute;
  top: 50px;
  left: 100px;
}

section1 .surface {
  font-weight: bold;
}

section1 .mouseover {
  fill: "#aaaaaa";
}
